@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is the part of tailwind where we can store our container
    and we should be using this rather than regular css containers.
    You can create any container that you want just by following the
    same recipe from `.tiles` and `.texts` */
@layer components {
    .titles {
        @apply p-5 pb-2 m-0 text-4xl font-mono font-bold;
    }
    .texts {
        @apply mb-6 font-mono text-lg;
    }
    .gdpr {
        @apply mb-6 font-mono text-lg text-left;
    }
    .buttonsStyle {
        @apply inline-flex items-center justify-center px-4 py-2 rounded bg-[#800080] text-white font-mono transition-colors hover:bg-[#4B0082] text-center break-words;
    }
    .buttonsDiv {
        @apply flex p-3 justify-center space-x-3;
    }
}

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'mono', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-y: auto; 
    text-align: center;
}

